h1, h2, .line {
  margin-left: 10px;
  margin-right: 10px;
}

.line {
  height: 5px;
  width: 50px;
  display: inline-block;
  position: relative;
  top: -4px;
}

.question {
  width: 25px;
  position: relative;
  top: -4px;
}

.name {
  cursor: pointer;
}

.tt .tt-text {
  visibility: hidden;
  position: absolute;
  top:30px;
  left: 0px;
  z-index: 1;
  background: black;
  color: white;
  border-radius: 5px;
  padding:5px;
  opacity:.5;
}

.tt:hover .tt-text {
  visibility: visible;
}

.tt{
  float:left;
  position: relative;
  padding-right: 100px;
}
