h1, h2, .line, #legend {
  margin-left: 10px;
  margin-right: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.question {
  width: 25px;
  position: relative;
  top: -4px;
}

.line {
  height: 5px;
  width: 50px;
  display: inline-block;
  position: relative;
  top: -4px;
}

.name {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.tt .tt-text {
  visibility: hidden;
  position: absolute;
  top:30px;
  left: 0px;
  z-index: 1;
  background: black;
  color: white;
  border-radius: 5px;
  padding:5px;
  opacity:.5;
}

.tt:hover .tt-text {
  visibility: visible;
}

.tt{
  float:left;
  position: relative;
  padding-right: 100px;
}
