<!DOCTYPE html>
<html>
    <head>
      <style>
        h1 {text-align: center;}
        h3 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
      </style>

    </head>
    <body>
      <h1> Project4</h1><br>
      <h3> by: Derek Leung, Kevin Li, Justin Shaw, and Albert wan </h3>
      <p>
        Our webpage compares the epidemics in recent years. What's special about our
        webpage is that it compares the epidemics day by day since the beginning
        of each outbreak, which shows us how severe each disease is. On the y-axis,
        it shows total deaths and the x-axis shows number of days. Our graph is easy to
        decipher For example, one can easily see that COVID-19 seems to be the
        most severe from the curve, while the MERS disease seems to be the least
        severe based on the curve.
      </p>
      <div id="button"><a href="page"> Let's see it! </a></div>
    </body>
</html>
