<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
    <body>
      <div class="jumbotron">
        <h1 class="display-4">Epidemics Compared: Day by Day</h1>
        <p class="lead">By ihatequarantine (Derek Leung, Kevin Li, Justin Shaw, and Albert Wan)</p>
        <hr class="my-4">
        <p>
          Our webpage compares various epidemics from recent years. It compares
          them day by day from the beginning of each. The X-axis shows the number
          of elapsed days and the Y-axis shows the total amount of deaths caused by each.
        </p>
        <hr class="my-4">
        <p>
          A lot of insightful data can be deciphered from our graph; for example,
          one can easily see how COVID-19 took the world by storm, while the MERS
          epidemic is slothful enough to make you question whether it should even
          be classified as one.
        </p>
        <hr class="my-4">
        <p class="lead">Note: it is highly recommended to zoom out on your browser a few
                        times to fit everything on screen. On Windows, the hotkeys would
                        be Ctrl + Plus. On macOS, it would be Command + Plus. You can go
                        back to default zoom by substituting "0" for "+" afterwards.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="page">Let's dive in!</a>
        </p>
      </div>
    </body>
</html>
